body {
  font-family: sans-serif;
  margin: 0 0 0 0;
}

html, body {
  background: #ccc;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  background: radial-gradient(ellipse at center, rgba(0,201,252,1) 0%,rgba(0,155,211,1) 100%);
}

.slab {
  width: 100vw;
  height: 100vh;
}

.some-text {
  padding-top: 30%;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}