body {
  font-family: sans-serif;
  margin: 0 0 0 0;
}

html, body {
  background: #ccc;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  position: relative;
}

.slab {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at center, #eee 0%, #ccc 100%);
}

.headline {
  padding-top: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}